.login-register {
    width: 400px;
	height: 450px;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
    margin: auto;
    border: solid 0.5px grey;

}

.login-register-form {
    margin-top: 40px !important;
    margin: auto;
    width: 400px;
    height: 400px;
}

.login-register-button {
    margin:auto;
    width: 80%;
}

.login-register-button span {
    width: 167px;
}

.nav-link.active {
    background-color: #797b7e
}