[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-urls = "*"
djongo = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djangorestframework-jwt = "*"
channels = "*"
route = "*"

[requires]
python_version = "3.6"
